<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    
    <section name="AssetLinkSettings" type="AssetLinkGlobalApiLib.ApiConfiguration, AssetLinkGlobalApiLib" />
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>

  <appSettings>
    <!-- application insights settings -->
    <add key="AppInsightsInstrumentationKey" value="23f2f991-d0c1-4bc4-8201-8c4102a185d7" />
    <add key="AppInsightsDMInstrumentationKey" value="29988fda-bf2b-484c-be6a-f1703ca3a042" />
    <add key="AppName" value="Asset Link Global API Tests" />

    <!-- log4net.config setting -->
    <add key="log4net.Config" value="log4net.config" />
   
  </appSettings>

  <AssetLinkSettings username="mark.gillen" password="T3lular$2020" baseUrl="https://mapdata.assetlinkglobal.com/Portal" authUrlPath="autologin.php" apiUrlPath="api.php" />
</configuration>