<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="TankUtilityConfiguration" type="TankUtilityApiLib.TankUtilityApi.ApiOauthConfiguration, TankUtilityApiLib" />
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net208">
				<arg key="configType" value="EXTERNAL" />
			</factoryAdapter>
		</logging>
	</common>

	<TankUtilityConfiguration authUrl="https://auth.tankutility.com/oauth/token" authClientId="SBcUlDJMmwfJEHKRX4lp" authClientSecret="WdDro7T2gLLw8G3Nb8ga" apiUrl="https://data.tankutility.com/api" authRefreshToken="AE0u-NeBJpRGgXm7XEF9JaZa3czqrY4gKGMdnCO3DV02NCJ3ZalP19bvv1ebEinXDJtuziD1-HV1tWry4LxGLmVTLzfL46KZg6_DWpt4dRzUSvtjDG29nDcxnS9KmVFI0l4zBee1kUEh_iPQ4XbEQ0aEfsQAcC99FOci6vRH-0zNMWiRacpl0daxQME_pAs0tioWMPHaEUT1ZOuOWq-v9szOjpL8vcqS1Cr09uw__anmhe9tyuBNGM85Ibgj2jNDQUQDHwDeJjCD" />

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="false" />
		<add key="UnobtrusiveJavaScriptEnabled" value="false" />
		<add key="owin:appStartup" value="TankNotifierApiNet.App_Start.Startup" />
		<add key="log4net.Config" value="log4net.config" />
		<!-- OAuth 2 Settings for token validation-->
		<add key="TenantId" value="b2eb7c03-3125-4395-83b4-2f39feeb617e" />
		<add key="InstanceId" value="https://login.microsoftonline.com/" />
		<add key="ResourceId" value="api://8d0a4c3c-8c79-4eb8-acd0-476efbc20fd1" />
		<!-- Redis cache settings -->
		<add key="CacheConfigString" value="mach2-coretech-cache-pvt.redis.cache.windows.net:6380,password=4EmioQY4ZMl+7FPGmgJ4T9YY8Yt45u2V370id63Ncr0=,ssl=True,abortConnect=False,sslprotocols=tls12,syncTimeout=3000,connectTimeout=15000" />
		<!--  
		PROD
		<add key="CacheConfigString" value="mach2-coretech-cache-production.redis.cache.windows.net:6380,password=lrJMJkjDL58C/BcAp+YbKW2MNujy8Gdy5lOdrAJsjdQ=,ssl=True,abortConnect=False,sslprotocols=tls12,syncTimeout=3000,connectTimeout=15000" />
		PVT
		<add key="CacheConfigString" value="mach2-coretech-cache-pvt.redis.cache.windows.net:6380,password=4EmioQY4ZMl+7FPGmgJ4T9YY8Yt45u2V370id63Ncr0=,ssl=True,abortConnect=False,sslprotocols=tls12,syncTimeout=3000,connectTimeout=15000" />
		DEV
		<add key="CacheConfigString" value="mach2-coretech-cache-development.redis.cache.windows.net:6380,password=Z/xGxL55y04YkrwQ5VIg2xT+W7oD/FYL9R+HpvPHZtA=,ssl=True,abortConnect=False,sslprotocols=tls12,syncTimeout=3000,connectTimeout=15000" />
		-->
		<add key="CheckRedisCertForErrors" value="true" />
		<!-- Redis cache Force Reconnect settings.   Do not alter if you haven't read the code. -->
		<add key="ReconnectErrorThreshold" value="30" />
		<add key="ReconnectMinimumFrequency" value="60" />
		<!-- Redis cache threadpool settings -->
		<add key="MinWorkerThreads" value="64" />
		<add key="MinIocpThreads" value="64" />
		<!-- Number of Redis connnection multiplexers to spin up. -->
		<add key="DegreeOfParallelism" value="2" />
		<!-- Number of Redis cache command Retries and Retry Delay in milliseconds -->
		<add key="RedisCacheRetries" value="5" />
		<add key="RedisCacheRetryDelay" value="50" />
		<!-- 5 minutes in seconds -->
		<add key="DefaultCacheTimeout" value="300" />
		<!-- long term cache timeout in days -->
		<add key="LongTermCacheTimeout" value="30" />
		<!-- Service Bus settings -->
		<add key="TankUtilityTopic" value="mo-devicemessages-tankutlity-topic" />
		<add key="ReadingsSubcription" value="TANK-UTILITY-READINGS" />
		<add key="ConfigChangesSubscription" value="TANK-UTILITY-CONFIGS" />
		<!-- 
		DEV
	    <add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-development.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ftS1lK4ID/xMx+3vUKBNc0YOXkjcG8T3AeWu4nnbgIY=" />
		PROD
	    <add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-production.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=VtPxBPaPr3/KoH1NsqMSMYENIuI6uadljutLn4FfuHk=" />
		PVT
		<add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-pvt.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hejpXT8tqi+/o5u8ZIykN+akZofRnZhSwJGDHXQSIj0=" />
	    -->
		<add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-pvt.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hejpXT8tqi+/o5u8ZIykN+akZofRnZhSwJGDHXQSIj0=" />

	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.1" />
		<authentication mode="None" />
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.WsFederation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom
  -->

	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>