<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="owin:appStartup" value="TankNotifierApiNet.App_Start.Startup" />
    <add key="log4net.Config" value="log4net.config" />
    <!-- OAuth 2 Settings for token validation-->
    <add key="TenantId" value="b2eb7c03-3125-4395-83b4-2f39feeb617e" />
    <add key="InstanceId" value="https://login.microsoftonline.com/" />
    <add key="ResourceId" value="api://8d0a4c3c-8c79-4eb8-acd0-476efbc20fd1" />
    <!-- Redis cache settings -->
    <add key="CacheConfigString" value="mach2-coretech-cache-production.redis.cache.windows.net:6380,password=lrJMJkjDL58C/BcAp+YbKW2MNujy8Gdy5lOdrAJsjdQ=,abortConnect=false,ssl=true,sslprotocols=tls12,syncTimeout=3000,connectTimeout=15000" />
    <add key="CheckRedisCertForErrors" value="true" />
    <!-- Redis cache Force Reconnect settings.   Do not alter if you haven't read the code. -->
    <add key="ReconnectErrorThreshold" value="30" />
    <add key="ReconnectMinimumFrequency" value="60" />
    <!-- Redis cache threadpool settings -->
    <add key="MinWorkerThreads" value="64" />
    <add key="MinIocpThreads" value="64" />
    <!-- Number of Redis connnection multiplexers to spin up. -->
    <add key="DegreeOfParallelism" value="2" />
    <!-- Number of Redis cache command Retries and Retry Delay in milliseconds -->
    <add key="RedisCacheRetries" value="5" />
    <add key="RedisCacheRetryDelay" value="50" />
    <!-- 5 minutes in seconds -->
    <add key="DefaultCacheTimeout" value="300" />
    <!-- long term cache timeout in days -->
    <add key="LongTermCacheTimeout" value="30" />
    <!-- Service Bus settings -->
    <add key="TankUtilityTopic" value="mo-devicemessages-tankutlity-topic" />
    <add key="ReadingsSubcription" value="TANK-UTILITY-READINGS" />
    <add key="ConfigChangesSubscription" value="TANK-UTILITY-CONFIGS" />
    <!-- 
		DEV
	    <add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-development.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ftS1lK4ID/xMx+3vUKBNc0YOXkjcG8T3AeWu4nnbgIY=" />
		PROD
	    <add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-production.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=VtPxBPaPr3/KoH1NsqMSMYENIuI6uadljutLn4FfuHk=" />
	    -->
    <add key="ServiceBusConnectionString" value="Endpoint=sb://mach2-coretech-servicebus-development.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ftS1lK4ID/xMx+3vUKBNc0YOXkjcG8T3AeWu4nnbgIY=" />

  </appSettings>
</configuration>