<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>       
    <section name="TankUtilityConfiguration" type="TankUtilityApiLib.TankUtilityApi.ApiOauthConfiguration, TankUtilityApiLib" />    
    <section name="TankUtilityBasicAuthConfiguration" type="TankUtilityApiLib.TankUtilityApi.ApiOauthConfiguration, TankUtilityApiLib" />
  </configSections>  
  
	<!--
	*** This is for mark.gillen@ametek.com account - uses authRefreshToken for that login - DO NOT USE FOR API!!! ***
	
	<TankUtilityConfiguration authUrl="https://auth.tankutility.com/oauth/token" authClientId="SBcUlDJMmwfJEHKRX4lp" authClientSecret="WdDro7T2gLLw8G3Nb8ga" apiUrl="https://data.tankutility.com/api"
                            authRefreshToken="AE0u-NeBJpRGgXm7XEF9JaZa3czqrY4gKGMdnCO3DV02NCJ3ZalP19bvv1ebEinXDJtuziD1-HV1tWry4LxGLmVTLzfL46KZg6_DWpt4dRzUSvtjDG29nDcxnS9KmVFI0l4zBee1kUEh_iPQ4XbEQ0aEfsQAcC99FOci6vRH-0zNMWiRacpl0daxQME_pAs0tioWMPHaEUT1ZOuOWq-v9szOjpL8vcqS1Cr09uw__anmhe9tyuBNGM85Ibgj2jNDQUQDHwDeJjCD"/>
							
	**** This is for sbtanksoftwareprod@ametek.com account - uses authRefreshtoken for that login - USE THIS ONE!!! ***
	
	<TankUtilityConfiguration authUrl="https://auth.tankutility.com/oauth/token" authClientId="SBcUlDJMmwfJEHKRX4lp" authClientSecret="WdDro7T2gLLw8G3Nb8ga" apiUrl="https://data.tankutility.com/api"
                            authRefreshToken="AOvuKvSnVbAN_vKXXAAjj3N3_PCN7KJtE1FMDC6r3dRLPesRarbHEu8dkF67e3QmyVbUPVdblk15TfvDqFZ6iuRlTOUtiqfFa202FXFPB6GffFKfEZ3tb5bMwxRIOCw_Vkk7lr46WieWb-uc4Tbv0ctwe1geJyzWAT0sCDko-WG11TmY73KcOHfWxJBv01msfovY5SAxoNVDxqKFEAaBSk87zbg9L5HzxTPz06b_rBBNSKSom4-HlF6u-HMgXIKnzCEmFlb56XZh"/>
							
    **** This is for sbtanksoftwaredev@ametek.com account - uses authRefreshtoken for that login - USE THIS ONE!!! ***
	
	<TankUtilityConfiguration authUrl="https://auth.tankutility.com/oauth/token" authClientId="SBcUlDJMmwfJEHKRX4lp" authClientSecret="WdDro7T2gLLw8G3Nb8ga" apiUrl="https://data.tankutility.com/api"
                            authRefreshToken="AOvuKvSejNxnBdxltkldFpX3B7qF8SLZGrcoMLy09zJaTovmQKvX1EsQL2QJ6ZHjaEH6yxy-fsZCUMBwc4k6z9h9xJCX9z5oh-w5UuyzdkA8LlYioK1RinSj7rnM_fntuc2iqaQZDwIyO39Fz1ChBOQth13D-AEZle55yvvCiTd-BVHpS8X7sirkFuoqZRvHqVeOx2mD29e2ZF29Vr1EGryd9qjiTSrWpO7FP1sBxtbYK3yO6zcnwqB37k8W1dmFMVgFl8ZMwYWt"/>
	-->
	
	<TankUtilityConfiguration authUrl="https://auth.tankutility.com/oauth/token" authClientId="SBcUlDJMmwfJEHKRX4lp" authClientSecret="WdDro7T2gLLw8G3Nb8ga" apiUrl="https://data.tankutility.com/api"
							  authRefreshToken="AOvuKvSnVbAN_vKXXAAjj3N3_PCN7KJtE1FMDC6r3dRLPesRarbHEu8dkF67e3QmyVbUPVdblk15TfvDqFZ6iuRlTOUtiqfFa202FXFPB6GffFKfEZ3tb5bMwxRIOCw_Vkk7lr46WieWb-uc4Tbv0ctwe1geJyzWAT0sCDko-WG11TmY73KcOHfWxJBv01msfovY5SAxoNVDxqKFEAaBSk87zbg9L5HzxTPz06b_rBBNSKSom4-HlF6u-HMgXIKnzCEmFlb56XZh"/>
	
	<TankUtilityBasicAuthConfiguration authUrl="https://data.tankutility.com/api/getToken" authClientId="sbtanksoftwareprod@ametek.com" authClientSecret="T3lular$2020" apiUrl="https://data.tankutility.com/api" authRefreshToken=""/>
  
</configuration>
