<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SkyBitzConfiguration" type="SkyBitzApiLib.SkyBitzApi.ApiOauthConfiguration, SkyBitzApiLib" />		
	</configSections>

	<SkyBitzConfiguration 
		authUrl="https://login.microsoftonline.com/" 
		authClientId="134d6a62-9aa6-4f38-8c12-1f5d44b7e427" 
		authClientSecret="ia~j895BI43sV3O6_G9_IsIM_0_4zW6Tv_" 
		authTenantId="b2eb7c03-3125-4395-83b4-2f39feeb617e" 
		authScopeAppId ="api://8d0a4c3c-8c79-4eb8-acd0-476efbc20fd1/.default"
		apiUrl="https://localhost:5001/api/skybitz/tank" />
	
</configuration>

<!-- https://test.tanklink.com/api/skybitz/tank/ -->